@inject IAuthorizationService AuthorizationService
@using Microsoft.AspNetCore.Authorization;
@using System.Security.Claims;
@using AdminPanel.Models.DTO;
@using AdminPanel.Helpers;
@using AdminPanel.Data;
@{
    ViewData["Title"] = "Users";
}

<style>
    table {
        border:1px solid black;
    }

    th {
        border: 1px solid grey;
    }
    
    td {
        border: 1px solid grey;
    }
</style>

@if((await AuthorizationService.AuthorizeAsync(User, PoliciesNames.SeniorManager)).Succeeded)
{
    <div class="text-center">
        <h3 class="display-4"><a asp-action="Create" asp-controller="Accounts">Create user</a></h3>
    </div>
}

<div class="text-center">
    <h1 class="display-4"><a asp-action="ActiveUsers" asp-controller="Accounts">Show active users</a></h1>
</div>

<div class="text-center">
    <h1 class="display-4"><a asp-action="LockoutedUsers" asp-controller="Accounts">Show lockouted users</a></h1>
</div>

