@using AdminPanel.Models.Logging
@model IEnumerable<UserLog>
@{
    ViewData["Title"] = "User logs";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Журнал користувачів</p>
        </div>
    </div>


    <div class="body body-with-sections">

        <div class="section">
            <div class="search-block">
                <input class="search-block-input" type="text" name="SearchString" />
                <button class="search-block-btn" type="submit" value="Пошук">
                    <span class="material-icons "> search </span>
                </button>
            </form>
        </div>

        <div class="section">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>UserId</th>
                        <th>Action</th>
                        <th>SubjectUserId</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var log in Model)
                    {
                        <tr>
                            <td>@log.Id</td>
                            <td>@log.UserId</td>
                            <td>@log.LoggingAction.Action</td>
                            <td>@log.SubjectUserId</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>