@using AdminPanel.Models.Logging
@model IEnumerable<UserLog>
@{
    ViewData["Title"] = "User logs";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Журнал користувачів</p>
        </div>
    </div>

    <div class="body">
        <div class="searchForm">
            <form asp-controller="Logging" asp-action="UserLogs">
                <input class="textInput" type="text" name="searchString" />
                <button class="searchButton" type="submit" value="Пошук" />
            </form>
        </div>
    </div>

    <div class="body">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>UserId</th>
                    <th>Action</th>
                    <th>SubjectUserId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model)
                {
                    <tr>
                        <td>@log.Id</td>
                        <td>@log.UserId</td>
                        <td>@log.LoggingAction.Action</td>
                        <td>@log.SubjectUserId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>