@{
    ViewData["Title"] = "Create category";
}

<div class="text-center">
    <h1 class="display-4">Create category</h1>
    <form method="post" asp-controller="Products" asp-action="CreateCategory">
        <div asp-validation-summary="All"></div>
        <input type="text" name="Name" placeholder="Category name" />
        <button type="submit">Create</button>
    </form>
</div>