@{
    ViewData["Title"] = "Poducts";
}

<div class="text-center">
    <h3 class="display-4"><a asp-action="GetProducts" asp-controller="Products">Products</a></h3>
</div>

<div class="text-center">
    <h3 class="display-4"><a asp-action="CreateProduct" asp-controller="Products">Create product</a></h3>
</div>

<div class="text-center">
    <h3 class="display-4"><a asp-action="CreateBrand" asp-controller="Products">Create brand</a></h3>
</div>