@{
    ViewData["Title"] = "Logs";
}


<div class="text-center">
    <h1 class="display-4"><a asp-action="ShowUserLogs" asp-controller="Logfile">Show user logs</a></h1>
</div>

<div class="text-center">
    <h1 class="display-4">Show items logs</h1>
</div>