@using AdminPanel.Models.Logging
@model IEnumerable<UserLog>
@{
    ViewData["Title"] = "User logs";
}

<style>
    table {
        border: 1px solid black;
    }

    th {
        border: 1px solid grey;
    }

    td {
        border: 1px solid grey;
    }
</style>

<div class="text-center">
    <table>
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>Action</th>
            <th>SubjectUserId</th>
        </tr>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.UserId</td>
                <td>@log.LoggingAction.Action</td>
                <td>@log.SubjectUserId</td>
            </tr>
        }
    </table>
</div>