@{
    ViewData["Title"] = "FAQ";
}


<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Вітрина товарів - FAQ</p>
        </div>
    </div>

    <div class="body body-with-sections">
        <div class="section">
            <h6>Якщо в групі товарів має бути сортування, то його параметри необхідно вказати в Query String. <br/>
                Параметри задаються таким способом: x=y, де x - ім'я параметра, а y - його значення. <br/>
                Кілька параметрів можна вказати, поставивши між ними символ &. Наприклад, x=y&a=b.<br /><br />
                X і y мають бути числами. X - id характеристики. Y - id значення характеристики. <br />
                Винятки:<br />
                1. X може бути "brand", а Y - id бренду.</h6>
        </div>
    </div>
</div>