@inject SignInManager<ApplicationUser> SignInManager
@inject IAuthorizationService AuthorizationService
@inject UserManager<ApplicationUser> UserManager
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using AdminPanel.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AdminPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Authorization.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Pages.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Filter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AdminPanel.styles.css" asp-append-version="true" />
</head>
<body>

    <input id="RequestVerificationToken" hidden value="@requestToken" />

    @if(SignInManager.IsSignedIn(User))
        {

        <div id="MenuPanel" class="MenuPanel d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a asp-area="" asp-controller="Orders" asp-action="Orders" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <span class="AP-Logo">LOGO</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto unselectable">
                @if ((await AuthorizationService.AuthorizeAsync(User, RoleNames.Administrator)).Succeeded)
                {
                    <li id="Main">
                            <div class="MenuItemDiv"><a class="navbar-brand menu-link" asp-area="" asp-controller="Orders" asp-action="Orders" target="_self">Замовлення</a> </div>
                    </li>
                    <li id="Goods">
                            <div class="MenuItemDiv"> <a class="navbar-brand menu-link " asp-area="" asp-controller="Products" asp-action="Products" target="_self">Товари та послуги</a></div>
                    </li>
                    <li id="Comments">
                        <div class="MenuItemDiv"> <a class="navbar-brand menu-link" asp-area="" asp-controller="Comments" asp-action="ActiveQuestions" target="_self">Коментарі</a></div>
                    </li>
                    <li id="Banners">
                        <div class="MenuItemDiv">  <a class="navbar-brand menu-link" asp-area="" asp-controller="Banners" asp-action="Index" target="_self">Банери</a></div>
                    </li>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, RoleNames.SeniorAdministrator)).Succeeded)
                {
                    <li id="Accounts">
                        <div class="MenuItemDiv"><a class="navbar-brand menu-link" asp-area="" asp-controller="Accounts" asp-action="ActiveUsers" target="_self">Аккаунти</a></div>
                    </li>
                    <li id="Characteristics">
                        <div class="MenuItemDiv"><a class="navbar-brand menu-link" asp-area="" asp-controller="Characteristics" asp-action="CharacteristicNames" target="_self">Характеристики</a></div>
                    </li>
                    <li id="Logging">
                        <div class="MenuItemDiv">  <a class="navbar-brand menu-link" asp-area="" asp-controller="Logging" asp-action="UserLogs" target="_self">Журнал</a></div>
                    </li>
                }
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://i.imgur.com/iwzI1G4.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong> @User.Identity?.Name</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" href="#">Профіль</a></li>
                    <li><a class="dropdown-item" href="#">Налаштування</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-area="" asp-controller="Authorization" asp-action="Logout">Вийти</a></li>
                </ul>
            </div>
        </div>
    }


    <div id="body-container" class="body-container">
        <div id="message" class="message" style="display:none">
            <div id="message-body-text" class="message-body-text">
                
                </div>
                <div class="message-body-btn">
                    <span id="message-close-btn" class="material-icons">
                        close
                    </span>
                </div>
        </div>
            <main role="main" class="main">
                @RenderBody()
            </main>
        </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Validation.js"></script>
    <script src="~/js/SwapClassContainer.js"></script>
    <script src="~/js/AdminPanel.js"></script>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
