@model IEnumerable<Order>
@{
    ViewData["Title"] = "Active orders";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Активні замовлення</p>
        </div>
    </div>

    <div class="body body-with-sections">

        <div class="section">
            <div class="search-block">
                <input class="search-block-input" type="text" name="SearchString" />
                <button class="search-block-btn" type="submit" value="Пошук">
                    <span class="material-icons "> search </span>
                </button>
            </div>
        </div>

        <div class="sections">
          
        </div>

        <div class="sections">
            <div class="pagination-block">
            </div>
        </div>

    </div>
</div>