@{
    ViewData["Title"] = "Access denied";
}

<div class="text-center">
    <h1 class="display-4">Access denied</h1>
    <h3 class="display-4">You do not have permission to see this page: @ViewBag.PageName</h3>
</div>
