@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<style>
    li {
        list-style-type: none;
    }
</style>

<div class="text-center">
    <div asp-validation-summary="All"></div>
    <form method="post" asp-controller="Authorization" asp-action="Login">

        <input hidden asp-for="ReturnUrl" value="@ViewBag.ReturnUrl" />
        <div>
            <input asp-for="UserName" type="text" placeholder="UserName" />
            <br />
            <span asp-validation-for="UserName"></span>
        </div>
        <div>
            <input asp-for="Password" type="password" placeholder="Password"/>
            <br />
            <span asp-validation-for="Password"></span>
        </div>
        <button type="submit">Login</button>
    </form>
</div>

