@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Subcategory>
@{
    ViewData["Title"] = "Subcategories";
}


<div>
    <div class="headerProducts">
        <p>Список позицій</p>
    </div>
</div>

@foreach (var x in Model)
{
    <a asp-action="Products" asp-controller="Products" asp-route-categoryId="@x.Id">@x.Id | @x.Name</a>
    <br />
}
