@model IEnumerable<MainCategory>
@{
    ViewData["Title"] = "Main categories";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Список категорій</p>
        </div>
        <div class="btn-header">
            <a asp-action="CreateMainCategory" asp-controller="AdminPanel">Додати категорию</a>
        </div>
    </div>

        <div class="body">
            @foreach (var x in Model)
            {
                <div>
                    <div>
                        <p>@x.Name</p>
                    </div>
                    <div>
                    </div>
                </div>
            }
        </div>

</div>



