@model CategoriesViewModel
@{
    ViewData["Title"] = "Main categories";
}

<div class="Page">
    <div class="header">
        <div class="namePage">
            <p>Список категорій</p>
        </div>
        <div class="btn-header">
            <a asp-action="CreateMainCategory" asp-controller="AdminPanel">Додати категорию</a>
        </div>  
    </div>

    <div class="body">
        <div>
            <input name="categoryName" type="text" class="categoryInput" placeholder="Ім'я категорії" /> 
            <select class="categoryInput" id="categoriesSelect" name="categories">

                                        <option value="1" selected="selected">Категорія</option>
                            </select>
        </div>
        <div class="imageSelector">
            <div class="main-image">
                <span class="material-icons add-icon unselectable">add</span>
                <input type="file" name="uploads" multiple /> 
            </div>
        </div>
        <div class="categoryButton">
            <button type="submit">Додати</button>
        </div>
    </div>

        <div class="body">
            @foreach (var x in Model.MainCategories)
            {
                <div>
                    <div>
                    <p><b>@x.Name</b></p>
                    </div>
                    <div>
                    @foreach (var y in Model.Subcategories.Where(s => s.MainCategory.Id == x.Id ))
                    {
                        <div>
                            <p>@y.Name</p>
                        </div>
                    }
                    </div>
                </div>
            }
        </div>
</div>



