@{
    ViewData["Title"] = "Poducts";
}

<div class="text-center">
    <h3 class="display-4"><a asp-action="GetProducts" asp-controller="AdminPanel">Products</a></h3>
</div>

<div class="text-center">
    <h3 class="display-4"><a asp-action="CreateProduct" asp-controller="AdminPanel">Create product</a></h3>
</div>


<div class="text-center">
    <h3 class="display-4"><a asp-action="CreateBrand" asp-controller="AdminPanel">Create brand</a></h3>
</div>

<div class="text-center">
    <h3 class="display-4"><a asp-action="CreateModel" asp-controller="AdminPanel">Create model</a></h3>
</div>

<div class="text-center">
    <h3 class="display-4"><a asp-action="CreateCategory" asp-controller="AdminPanel">Create category</a></h3>
</div>