@{
    ViewData["Title"] = "Index";
}

<div class="text-center">
    <h1 class="display-4">Admin panel</h1>
</div>

<div class="text-center">
    <h3 class="display-4"><a asp-action="Index" asp-controller="Products">Products</a></h3>
</div>
