@model ModelsViewModel
@{
    ViewData["Title"] = "Models";
}

<div class="text-center">
    <h1 class="display-4">Create model</h1>
    <form method="post" asp-controller="AdminPanel" asp-action="CreateModel">
        <div asp-validation-summary="All"></div>
        <input type="text" name="Name" placeholder="Model name" />
        <button type="submit">Create</button>
    </form>
</div>