.Page {
    min-height: 100vh;
    padding-bottom: 20px;
    border: none;
    background: #e6e8ec;
    color: #212529;
}

/*#region Buttons*/

.Page button{
        color: white;
    background: #31363b;
    text-decoration: none;
    padding: 4px 20px;
    border-radius: 3px;
}

.Page button:hover{
    background: black;
}

/*#endregion */


/*#region All Page header*/
    .Page .header {
        position: sticky;
        top: 0;
        z-index: 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white;
        width: 100%;
        min-width: 1000px;
        height: 80px;
        margin-bottom: 1em;
        box-shadow: 0 2px 3px 0 rgb(0 0 0 / 10%);
    }

.namePage p {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.namePage, .btn-header {
    padding: 0 25px;
}

.btn-header a, .btn-header button {
    color: white;
    background: #31363b;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
}

.btn-header a:hover, .btn-header button:hover {
    background: black;
}
/*#endregion */


/*#region All Page body*/
.Page .body {
    margin: 20px 20px 0px 20px;
    background: white;
    padding: 20px;
    min-width: 1000px;
}

.Page .body-with-sections {
    padding: 0;
    background: #e6e8ec;
    min-width: 1000px;
}

.Page .body-with-sections input {
        padding: 5px;
        border: 1px solid #dddddd;
        border-radius: 4px;
}

.Page .body .section {
    margin-top: 20px;
    background: white;
    width: 100%;
    padding: 20px;
}

.Page .body .sections {
    display: table;
    margin-top: 20px;
    background: white;
    width: 100%;
}
/*#endregion */


/*#region Products Page*/


.productsTable tr:hover {
    background: #f8f8f8;
}

/*#endregion */


/*#region Categories Page*/

.sections .left-section-categories {
    display: table-cell;
    min-width:500px;
}

.sections .right-section-categories {
    font-size: 14px;
    padding: 20px;
    display: table-cell;
    background: #f3f5f6;
    width: 280px;
}

.list-categories-block .maincategories-name p {
    padding:2px 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    cursor: pointer;
}

.list-categories-block .maincategories-name p:hover{
    background: #f8f8f8;
}


.list-categories-block .subcategories-name p {
    padding: 2px 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    cursor: pointer;
}

.list-categories-block .subcategories-name p:hover {
    background: #f8f8f8;
}


.categories-inputs {
    width:100%;
    border-radius: 5px;
    margin: 10px 0px;
}

.categories-inputs input{
    width: 100%;
    margin: 5px 0px;
}

.categories-inputs select{
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding:5px;
    margin: 5px 0px;
}

.category-btn {
    margin-top: 15px;
    display: flex;
    justify-content: right;
}

.categories-img input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    opacity: 0;
}

#change-category-btn{
    width:100%;
    display:flex;
    justify-content:space-between;
}


/*#endregion */


/*#region Edit Product Page*/
.left-section-editproduct, .characteristics-section {
    font-size: 14px;
}

.products-img {
    width: 140px;
}

.products-img img {
        width: 140px;
        height: 100px;
}

.productsTable tr {
    cursor: pointer;
}

.sections .left-section-editproduct {
    display: table-cell;
    padding: 20px;
}

.sections .right-section-editproduct {
    padding: 20px;
    display: table-cell;
    background: #f3f5f6;
    width: 259px;
}

.sections .name-block {
    font-size: 20px;
    font-weight: 400;
}

.name-block p {
    margin-bottom: 5px;
}

.info-block div {
    width: 100%;
    margin-bottom: 5px;
}

.info-block .product-lable, .catecories-block .product-lable, .characteristics-section .product-lable {
    font-weight: 500;
    margin: 8px 0;
}

.info-block .name input {
    min-width: 100%;
}

.info-block .price-div {
    width: 300px;
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    margin-bottom: 0;
}

    .info-block .price-div input {
        width: 100px;
        min-width: 100px;
    }

.info-block .description textarea {
    width: 100%;
    min-height: 275px;
    max-height: 550px;
    padding: 5px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}



.sections .catecories-block {
    display: flex;
    flex-direction: column;
}

.catecories-block select {
    min-width: 160px;
    height: 28px;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.save-btn {
    display: flex;
    justify-content:right;
}

.second-section .characteristics-section button {
    margin-left: 5px;
    padding: 5px 15px;
}

.add-characteristics {
    margin-bottom: 20px;
}

.characteristics-table thead th {
    padding: 0 10px;
}

.characteristics-table tbody td p {
        margin: 0;
        padding: 0 10px;
}

.characteristics-table tbody button {
    padding: 5px 10px;
}

.visibility-switcher input {
    margin-right: 5px;
    border: none;
}

.visibility-switcher div label {
    font-size: 14px;
    font-weight: 500;
}

.images-section {
    margin-top: 20px;
}

.images input{
    cursor:pointer;
}

.images-block{
    margin-top:62px;
}

.main-image {
    position: relative;
    width: 261px;
    height: 259px;
    border: 1px dashed #bcbec5;
    border-radius: 3px;
    line-height: 0;
}

.main-image img{
    width: 259px;
    height: 259px;
}

.list-images {
    display: flex;
    flex-grow: 3;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}

    .list-images li {
        list-style-type: none;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 80px;
        height: 80px;
        margin-top: 10px;
        border: 1px dashed #bcbec5;
        border-radius: 3px;
        color: #bcbec5;
        cursor: pointer;
    }


.item-image img {
    width: 78px;
    height: 78px;
}

.add-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    color: #bcbec5;
}

.images input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    font-size: 0;
    opacity: 0;
  
}
.characteristics-table thead th {
    padding: 0 10px;
}

.characteristics-table tbody td p {
    margin: 0;
    padding: 0 10px;
}

.characteristics-table tbody button {
    padding: 5px 10px;
}

.modal-backdrop {
    z-index: 5;
}

.modal{
    z-index:10;
}

.modal-input{
    width:100%;
}

.modal-title-input{
    margin:5px 0px 5px 0px;
}

/*#endregion*/

/*#region Edit Brand Page*/
.brands-table {
    margin-top:15px;
}
.brands-table thead th {
    padding: 5px 5px;
    margin-top:15px;
}

.brands-table tbody td p {
    margin: 0;
    padding:  5px;
}

.brands-table tbody button {
    padding: 5px 10px;
}


/*#endregion*/

/*#region Edit Model Page*/
.models-table {
    margin-top:15px;
}
.models-table thead th {
    padding: 5px 5px;
    margin-top:15px;
}

.models-table tbody td p {
    margin: 0;
    padding:  5px;
}

.models-table tbody button {
    padding: 5px 10px;
}


.pagination-section {
    text-align: center;
    width:100%;   
}

.page-form{
    width:auto;
    display:inline;
}

.current-page-form {
    width: auto;
    display: inline;
}

.current-page-form button {
    background-color:dimgray;
}

.image-load-div button {
    background: none;
    border: none;
    padding: 0px 0px;
}

    .image-load-div button:hover {
        background: none;
        border: none;
    }

.img-input{
    margin-top:15px;
    width:259px;
}

.load-photo-block {
    font-size: 14px;
}
.load-photo-block button{
    margin-top:10px;
}
.load-photo-block label{
    margin-top:9px;
}


.comments-table {
    margin-top: 0px;
}

    .comments-table thead th {
        padding: 5px 5px;
        margin-top: 15px;
    }

    .comments-table tbody td p {
        margin: 0;
        padding: 5px;
    }

    .comments-table tbody button {
        padding: 5px 10px;
    }

    .comments-table .question-text-width {
        width:50%;
    }

.question-buttons-width button {
    width: 100%;
}

/*#endregion*/
